/** @format */
.h1 {
  position: absolute;
  width: 387px;
  height: 106px;
  left: 500px;
  top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.createButton{
  /* Primary button */

position: absolute;
width: 126px;
height: 61px;
left: 152px;
top: 281px;

border-radius: 10px;


/* Rectangle */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #577385;
border-radius: 10px;


/* View */

position: absolute;
left: 100px;
right: 0px;
top: 150px;
bottom: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;

color: #363636;


}

.viewButton{
   /* Primary button */

position: absolute;
width: 126px;
height: 61px;
left: 152px;
top: 281px;

border-radius: 10px;


/* Rectangle */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #577385;
border-radius: 10px;


/* View */

position: absolute;
left: 500px;
right: 0px;
top: 150px;
bottom: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;

color: #363636;
}

.updateButton{
     /* Primary button */

position: absolute;
width: 126px;
height: 61px;
left: 152px;
top: 281px;

border-radius: 10px;


/* Rectangle */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #577385;
border-radius: 10px;


/* View */

position: absolute;
left: 900px;
right: 0px;
top: 150px;
bottom: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;

color: #363636;
}